<body class="bg-gradient-primary">
<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h2 text-gray-900 mb-4">Crear cuenta nueva</h1>
                        </div>
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                        placeholder="Nombre completo">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="exampleLastName"
                                        placeholder="Nickname">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                    placeholder="Correo electrónico">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="exampleInputCity"
                                    placeholder="Ciudad">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0" id="datepicker">
                                    <input type="text" class="form-control form-control-user" id="datepickerInput" placeholder="Fecha de nacimiento dd-mm-aaaa">
                                    <span class="glyph">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="cargarImagen">
                                        <label class="custom-file-label" for="cargarImagen" >Seleccionar archivo</label>
                                    </div>
                                </div>    
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                        id="exampleInputPassword" placeholder="Password">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                        id="exampleRepeatPassword" placeholder="Confirmar password">
                                </div>
                            </div>

                            <a href="/login" class="btn btn-primary btn-user btn-block">
                                Crear cuenta
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="/olvidar-password">Olvidé mi password</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="/login">Ya tengo una cuenta. Ingresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

<script>
    $(function () {
        $('#datepickerInput').datepicker({
            dateFormat: 'dd-mm-yy'
        });
    });
</script>
<router-outlet></router-outlet>
</body>