<div class="modal" [ngClass]="{'show': showModal}" style="display: {{ showModal ? 'block' : 'none' }};">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Políticas y condiciones</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>El usuario final para interactuar con los negocios o hacer comentarios debe estar registrado.</li>
          <li>El usuario final para interactuar con los negocios o hacer comentarios debe estar registrado.</li>
          <li>Para realizar el registro el usuario debe contar con los datos requeridos (cédula, nombre, fecha de nacimiento, entre otros).</li>
          <li>Por cada correo solo se puede registrar un usuario.</li>
          <li>Para registrar un negocio el usuario ya deberá contar con una cuenta registrada.</li>
          <li>Para el registro es obligatorio suministrar toda la información requerida en el formulario.</li>
          <li>Todo usuario deberá tener respeto para el uso de la plataforma, el no cumplimiento de esto genera 
              sanciones como suspensión temporal o la eliminación de la cuenta, esto ya será de manejo del moderador 
              que maneje el caso.</li>
          <li>Para resolver dudas puede contactar al correo este_no_es_un_correo&#64;gmail.com</li>
      </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

