
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon ">
                <i class="fas fa-luggage-cart"></i>
            </div>
            <div class="sidebar-brand-text mx-3">UniLocal</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="#" (click)="abrirModal()">
                <i class="fas fa-scroll"></i>
                <span>Políticas y condiciones</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            CUENTA
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/login">
                <i class="fas fa-map-marked-alt"></i>
                <span>Ingresar a mi cuenta</span>
            </a>
            <a class="nav-link" href="/registro">
                <i class="fas fa-pencil-alt"></i>
                <span>Registrar cuenta</span>
            </a>
            <a class="nav-link" href="forgot-password.html">
                <i class="fas fa-door-closed"></i>
                <span>Recuperar contraseña</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link" href="#" (click)="abrirModal()">
                <i class="fas fa-info-circle"></i>
                <span>Acerca de UniLocal</span>
            </a>
        </li>           

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- FILTRO DE BÚSQUEDA/JD-->
                <div>
                    <select class="form-control bg-light border-0 small" name="cars" id="cars">
                        <option value="negocio">Filtrar por negocio</option>
                        <option value="tipo">Filtrar por tipo de negocio</option>
                        <option value="distancia">Filtrar por distancia</option>
                    </select>
                </div>
                
                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar"
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto align-items-center">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                        placeholder="Search for..." aria-label="Search"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - User Information -->
                    <!--SE DEJA LA ESTRUCTURA PARA HEREDAR EL CSS, ESTADOS EN FALSE-->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="/login" 
                             aria-haspopup="false" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Iniciar sesión</span>
                            <img class="img-profile rounded-circle" src="../my-app/src/assets/images/user-solid.svg">
                        </a>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- AQUÍ VA EL CONTENIDO PROPIO DE LA PÁGINA -->
            <div class="container-fluid">

                <div id="div-principal">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15768.283021607443!2d-75.69180952431152!3d4.534578143133677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e409f17999b16b3%3A0x6443ad5f478a11a0!2sEl%20Ed%C3%A9n%2C%20Armenia%2C%20Quind%C3%ADo!5e0!3m2!1ses!2sco!4v1670385269387!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; UniLocal 2022</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<app-modal-politicas></app-modal-politicas>
<!-- <app-modal-salir></app-modal-salir>
<app-modal-acerca></app-modal-acerca> -->

